.title {
  background-color: #ffd700;
  padding: 20px 30px;
  width: 600px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.subtitle {
  background-color: #ffd700;
  font-size: 30px;
  padding: 50px 60px;
  width: 400px;
  border-radius: 10px;
  margin: 50px auto;
}

body {
  background-color: black;
  padding: 20px 50px;
}

ul {
  padding: 30px 0;
  background-color: #ffd700;
  list-style: none;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  background-color: black;
  border-radius: 10px;
}

input {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #ffd700;
  color: black;
  font-size: 15px;
}

input::placeholder {
  color: black;
}

input:focus {
  outline: black;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #ffd700;
  font-size: 15px;
}

.divMain {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  margin-left: 40px;
}



::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 6px;}

::-webkit-scrollbar-thumb:hover {
  background-color: #b79c00; 
}
